#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 > #backgroundBox {
  position: absolute;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Path_478 {
  position: absolute;
  width: 42.0px;
  height: 43.0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_2 {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Path_42 {
  position: absolute;
  width: 48.48999786376953px;
  height: 49.48999786376953px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_3 {
  position: absolute;
  width: 144.0px;
  min-height: 101.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_3 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Path_316 {
  position: absolute;
  width: 45.0px;
  height: 54.0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 {
  position: absolute;
  width: 397.23529385774464px;
  min-height: 578.8285710498565px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 3px rgba(0,0,0,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_8 {
  position: absolute;
  width: 344.2705880100454px;
  min-height: 39.09299717330168px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_7 {
  position: absolute;
  width: 86.26715133536405px;
  min-height: 22.699159649014007px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.25px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.25px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_5 {
  position: absolute;
  width: 69.6910409722505px;
  min-height: 36.5708683234115px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_3 {
  position: absolute;
  width: 397.2352938577444px;
  min-height: 221.94733879035897px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_1 {
  position: absolute;
  width: 102.1352940050227px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Ellipse_1 {
  width: 56.74789912253501px;
  height: 56.74789912253489px;
  min-height: 56.74789912253489px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_11 {
  position: absolute;
  width: 75.9835765779578px;
  min-height: 18.915966374178282px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Image_4 {
  position: absolute;
  width: 332.0px;
  height: 221.33333333333331px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Path_54 {
  position: absolute;
  width: 60.781272888183594px;
  height: 67.99121856689453px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Ellipse_3 {
  width: 100.0px;
  height: 100.0px;
  min-height: 100.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #404040;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #CA8F8F;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Ellipse_2 {
  width: 100.0px;
  height: 100.0px;
  min-height: 100.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #404040;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #58CA78;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Path_85 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Image_1 {
  position: absolute;
  width: 37.0px;
  height: 32.375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Image_3 {
  position: absolute;
  width: 302.0px;
  height: 264.25px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Path_86 {
  position: absolute;
  width: 148.0px;
  height: 148.0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_2 {
  position: absolute;
  width: 474.00000000000017px;
  min-height: 669.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_4 {
  position: absolute;
  width: 164.0px;
  min-height: 146.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_5 {
  position: absolute;
  width: 155.0px;
  min-height: 146.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-45a4e4ab-4a87-4849-ac9c-47b07e6608b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}