#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 > #backgroundBox {
  position: absolute;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Path_8 {
  position: absolute;
  width: 44.0px;
  height: 43.0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_2 {
  position: absolute;
  width: 144.0px;
  min-height: 101.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Path_42 {
  position: absolute;
  width: 48.48999786376953px;
  height: 49.48999786376953px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_1 {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_1 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Path_316 {
  position: absolute;
  width: 45.0px;
  height: 54.0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 input::-moz-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 input:-moz-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 input:-ms-input-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 {
  position: absolute;
  width: 387.00000000000006px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_10 {
  position: absolute;
  width: 72.779296875px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_10 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_10 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_34 {
  position: absolute;
  width: 143.28252939710444px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_34 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_1 {
  position: absolute;
  width: 173.72526451729843px;
  height: 168.12122372641787px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_1 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_37 {
  position: absolute;
  width: 138.908421505766px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_37 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_10 {
  position: absolute;
  width: 173.7252645172984px;
  height: 168.12122372641784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_10 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_10 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Image_10 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_49 {
  position: absolute;
  width: 106.30450925527337px;
  min-height: 16.704352357432526px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_49 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 input::-moz-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 input:-moz-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 input:-ms-input-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 {
  position: absolute;
  width: 387.00000000000006px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_11 {
  position: absolute;
  width: 72.779296875px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_11 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_11 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 input::-moz-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 input:-moz-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 input:-ms-input-placeholder {
  color: #49454E;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 {
  position: absolute;
  width: 387.00000000000006px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_12 {
  position: absolute;
  width: 72.779296875px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_12 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_12 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Path_135 {
  position: absolute;
  width: 70.01409149169922px;
  height: 46.70415115356445px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 {
  position: absolute;
  width: 226.0px;
  min-height: 70.07751937984494px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 > .borderLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-90c870d8-6f4b-424f-8309-e4c8b34e7f06 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}