#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 > #backgroundBox {
  position: absolute;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Path_8 {
  position: absolute;
  width: 44.0px;
  height: 43.0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_2 {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Path_42 {
  position: absolute;
  width: 48.48999786376953px;
  height: 49.48999786376953px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_1 {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_1 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Path_316 {
  position: absolute;
  width: 45.0px;
  height: 54.0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph {
  position: absolute;
  width: 144.0px;
  min-height: 101.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_18 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Ellipse_11 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_19 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_19 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_20 {
  position: absolute;
  width: 66.248046875px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_21 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Ellipse_13 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 > .backgroundLayer > .colorLayer {
  background-color: #A4506C;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_22 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_22 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_23 {
  position: absolute;
  width: 66.248046875px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 {
  position: absolute;
  width: 376.0px;
  min-height: 53.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(217,217,217,0.25);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Ellipse_3 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #5075A4;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_7 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_13 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_13 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_4 {
  position: absolute;
  width: 66.248046875px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Ellipse_4 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #00FF47;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_8 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.15px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Ellipse_5 {
  width: 45.0px;
  height: 45.0px;
  min-height: 45.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #A4506C;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 13.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_14 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_14 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_17 {
  position: absolute;
  width: 203.5171890258789px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_17 .valign {
  vertical-align: bottom;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_5 {
  position: absolute;
  width: 66.248046875px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 10.5pt;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Ellipse_1 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #00FF47;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_3 {
  position: absolute;
  width: 392.0px;
  min-height: 491.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a4f7364b-7c04-459f-a1e6-ee96c45c7e96 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}