#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d > #backgroundBox {
  position: absolute;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Path_478 {
  position: absolute;
  width: 42.0px;
  height: 43.0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_2 {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Path_42 {
  position: absolute;
  width: 48.48999786376953px;
  height: 49.48999786376953px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_1 {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_1 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Path_316 {
  position: absolute;
  width: 45.0px;
  height: 54.0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph {
  position: absolute;
  width: 144.0px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 input::-moz-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 input:-moz-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 input:-ms-input-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 {
  position: absolute;
  width: 354.0px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_10 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_10 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 {
  position: absolute;
  width: 309.0px;
  min-height: 67.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 > .borderLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Path_9 {
  position: absolute;
  width: 103.0px;
  height: 68.66666412353516px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 input::-moz-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 input:-moz-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 input:-ms-input-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 {
  position: absolute;
  width: 354.0px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 .valign {
  vertical-align: middle;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_12 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_12 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 input::-webkit-input-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 input::-moz-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 input:-moz-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 input:-ms-input-placeholder {
  color: #49454E;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 {
  position: absolute;
  width: 354.0px;
  height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 .valign {
  vertical-align: middle;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  letter-spacing: 0.25px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_11 .paddingLayer {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_11 span {
  color: #49454E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4881cfc-b4f7-4ee3-a689-d7cd00d4717d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}