#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 > #backgroundBox {
  position: absolute;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 > #alignmentBox {
  position: relative;
  max-width: 428.0px;
  max-height: 926.0px;
  width: 100%;
  height: 100%;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Image_1 {
  position: absolute;
  width: 463.0px;
  height: 938.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_1 {
  position: absolute;
  width: 235.5px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_2 {
  position: absolute;
  width: 508.0px;
  min-height: 220.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #0D0F11;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 {
  position: absolute;
  width: 177.37499999999991px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 > .borderLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 {
  position: absolute;
  width: 92.0px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #0A0909;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-bottom-left-radius: 19px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 span {
  color: #6750A4;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #6750A4;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e1a0c7d6-e2d2-4af8-86f0-47e958a14dd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}